<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@users.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @users.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">年齢</th>
            <td class="table__col2"><%= @users.age.name %></td>
          </tr>
          <tr>
            <th class="table__col1">性別</th>
            <td class="table__col2"><%= @users.sex.name %></td>
          </tr>
          <tr>
            <th class="table__col1">職業</th>
            <td class="table__col2"><%= @users.profession %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "ユーザー名さんのプロトタイプ"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: "guides/guide", collection: @guides %>
      </div>
    </div>
  </div>
</div>